[2019-07-06 16:36] ezzabuzaid opened #1 "Feature Request: Calling response function in reverse order"
Hi, it will be good if the interceptors execute the response method from the end back to the start

in the `for` loop, maybe you can loop over the interceptors from the end

[
![client](https://user-images.githubusercontent.com/29958503/60758824-519cad00-a024-11e9-9937-b6f48cb6245e.png)
](url)

[2019-07-07 16:55] CodingAleCR commented on #1
Hey, sure, that's a possibility. Although if you don't mind me asking which would be a case in which you'd need it. When I did that I just thought that it'd be good to have them apply changes in the order that they were added.

[2019-07-07 21:30] ezzabuzaid commented on #1
Hi, Angular does that with the interceptors, and I liked much, the first case is the logging, when I want to log the time needed for the request to finish, and there's a variety of cases may you want

I think it can be an option, reverse or not, and believe me it's useful.

and I was thinking about some useful changes

-  modify the request object to have a `data or config, whatever` prop that wil

[2019-07-09 23:53] CodingAleCR commented on #1
Yeah, that sounds like a good idea, I'll add it as a feature for release 1.0.0 hopefully coming soon.

[2019-09-16 23:40] CodingAleCR opened #2 "Feature Request: Query Parameters"
Right now you have to do some funky stuff in order to use query parameters when doing a 'get' request. An example would be:
[code]

This is a big problem mainly because if you do not add the '?' to your URL in the repository then  most the interception could fail to add the proper parameters resulting in an URL like so:
[code]

Instead of the desired:
[code]

[2019-09-17 03:20] CodingAleCR opened #4 "Feature Request: Separate Request and Response Interceptors."
# Feature Request

## 🗒 Description
Separate Request and Response Interceptors so that you can set one and not the other, that would also allow for reverse order of interceptors without affecting the response.

[2019-09-18 06:33] jensencelestial opened #5 "Bug: HTTP Methods have misaligned parameters"
Hi, I have noticed that for Http methods that doesn't need query parameters (POST, PUT, PATCH, etc.), the **body** parameter is being assigned to **params** in `_sendUnstreamed` function instead. Refer to the example below:

[code]
For the post function above, the **body** parameter is being passed to **params**, causing type mismatch exceptions when being used.

This is the `_sendUnstreamed` func

[2019-09-18 06:42] CodingAleCR commented on #5
Nice catch! To be honest I completely missed this, you are right, it shouldn't be like that. This is easily fixed by either changing `_sendUnstreamed` to have named parameters or by creating a separate `_sendUnstreamed` for the _get_ HTTP Method. Feel free to drop a PR if you can, otherwise I'll fix it as soon as I can.

Thanks!

[2019-09-18 06:47] jensencelestial commented on #5
Thank you for the quick reply. I'll try to make a PR, will it be alright to just insert a null parameter to these methods, since that is what you did with the `head` and `delete` methods.

[code]

[2019-09-18 06:55] CodingAleCR commented on #5
To be honest I would like it to be like the `_sendInterception` method in `http_with_interceptor.dart`. I think I'll have a couple of hours available later during the day to fix it and release a hotfix. But if it works for you that's fine for now.

[2019-09-18 06:57] #2 closed

[2019-09-18 07:05] jensencelestial commented on #5
Upon taking a look at `_sendInterception`, you're right, it looks like the better approach. I'll wait for the hotfix release, but I'll try to use the null approach in my fork in the meantime. Thank you very much! :D

[2019-09-18 18:44] CodingAleCR commented on #5
Cool, and sure, anytime! 👍

[2019-09-18 19:31] CodingAleCR commented on #5
Done! The new version 0.1.1 should fix the issue.

[2019-09-18 19:31] #5 closed

[2019-09-19 11:47] TheHemantKaushik opened #6 "Feature: Support for Multipart Requests"
Getting error when trying to send multipart request like this. No header is added.

[code]

How can I send multipart request with all headers added in interceptor?

[2019-09-23 06:12] CodingAleCR commented on #6
Hey, I might need to look into this, in theory they should be applied all but to be honest I did not think to implement this at the start, I'll try to look into it and get back to you as soon as I can to figure out if it is something in the roadmap or if it is something we can do currently.

[2019-09-29 12:32] stanislasdrg opened #7 "How to use as a reusable service ?"
Hello,
I am looking to build an HttpInterceptor Service in dart, that would act the same way as a service I have built in Angular 2 :
[code]
In Angular 2 Ts, I am injecting this service in a CoreModule, and can therefore intercept all requests from all services in that module :
[code]

By the examples, it seems the service has to be provided with each Http request.
Is there a way to achieve the pa

[2019-09-30 22:22] CodingAleCR commented on #7
As of right now, you cannot do a service that intercepts all http requests because those are from a different plugin, dart's own: [http](https://pub.dev/packages/http) package.

What this plugin allows you to do, however, is to do an implementation of a customized Client which allows you to intercept all requests that go through said client as per the [Using interceptors with Client](https://githu

[2019-10-04 17:00] #7 closed

[2019-10-04 17:04] CodingAleCR commented on #6
As of right now this plugin does not support MultipartRequests. I will add it to the roadmap since it is a huge improvement. Cheers!

[2019-10-25 17:06] januwA commented on #6
Hi, try using [this branch](https://github.com/januwA/http_interceptor), I added the `postFile` method to `client` to simplify sending files. 😃

[code]

[2019-11-23 02:17] CodingAleCR commented on #1
As I'm planning to separate into different contracts the request and response interceptors then I won't be adding the reverse order flag for now.

[2019-11-23 02:17] #1 closed

[2020-01-14 02:17] chrisoftech opened #14 "Adding onError() method to the interceptor"
Thanks for this awesome package. My use case involves re-authorization using refreshToken and this can be done if an error-code is intercepted and a new token request. This feature would be greatly appreciated. Thanks

[2020-01-15 15:21] CodingAleCR commented on #14
Hey, this sounds like an awesome idea, I will add it to the work I've got pending. Thank you very much 🙌🏼

[2020-01-20 10:28] chrisoftech commented on #14
That's great can wait for the feature

On Wed, Jan 15, 2020, 3:22 PM Alejandro Ulate <notifications@github.com>
wrote:

[2020-01-29 01:03] CodingAleCR commented on #14
Hey, I was thinking about this a bit longer and well.. you can currently use this through an interceptor, maybe you can share some of your code so I can help to guide you in the right direction.

[2020-01-29 09:08] chitgoks commented on #6
@januwA  great job! just what i was looking for! Got stuck with MultiPartRequest then tried to open up a new issue and found this is already existing.

[2020-01-29 10:41] chitgoks opened #17 "Feature Request: Re-run requests"
Is it possible when in the response, you find something that needs for the request to be re-run?

[2020-01-29 14:51] CodingAleCR commented on #6
Agreed, I'm sorry for not being able to look into this and add it. I'm aiming for a 0.3.0 release with this in. Hopefully it happens soon.

[2020-01-29 14:57] CodingAleCR commented on #17
As of right now there's not. You would have to check for this outside of the interceptor and do it manually. I could try to implement it but just out of curiosity: would you need to add parameters to the request or something like that?

[2020-01-29 21:45] chitgoks commented on #17
no parameters. my use case for using your interceptor is there is no way in google sign in to know when an access token has expired so instead, i use interceptors to check the expiry time and refresh before sending the request

however i noticed the access token sometimes expires before expiry time and i have no idea why. so i find out about this only in response.

in case this happens i wish to c

[2020-01-30 01:39] CodingAleCR commented on #17
Ok, this seems more like a feature for a client, I think we could add a retry count and check for that when intercepting, that would mean that the request would have to be re-intercepted as well as the responses, is that the kind of behavior you want?

[2020-01-30 01:46] chitgoks commented on #17
if that will work the same way as calling an http method (post/get/delete, etc) again, then yes.
my goal is not having to call the url again.

i wonder if it is possible in the response, that you can call a method that will go back to the interceptResponse so it will re-run ?

[2020-02-03 21:51] aebmknrl commented on #14
Hi my friend. I see it this question and i think i can ask here my own...

I have this code trying to intercept any error on the responses, but doesn't work. Can you help me @CodingAleCR ? Thanks!

[code]

[2020-02-05 23:25] CodingAleCR commented on #14
Hi, I will try to get a look in detail, are you sure the API you are doing requests to is returning with a status code of 400 or more, and then if it does, are you getting any information on it or is the project crashing? Also, You might want to add limitations so that the status code is between 400 and 499 since 500+ is used for Server errors.

[2020-02-10 21:53] CodingAleCR commented on #14
Hi, I was able to take a quick look to this today, so here's what is happening.

Request/Response Flow:
1. You send a request to a server.
2. Server responds with a status code >= 400.
3. Your interceptor takes it, and it throws the exception you created.
4. The plugin transmits the exception to the next in line listening. This means that you should have a try-catch block when you are using the `H

[2020-02-10 21:53] #14 closed

[2020-04-17 13:53] periyasamyshanmugam opened #19 "Modified params are not reflecting in api call."
Hello,
I am modifying my request url params in my interceptor but the modified params are not reflecting in my api call.

**data.params["xyz"] = "mytoken";**
this is how I am modifying the request params.
Please, help me with this.
Thanks.

[2020-04-20 22:35] CodingAleCR commented on #19
Hi, I am currently checking this out since it was reported by a couple of people as well. This is definitely a bug and will fix ASAP. Thanks for writing :)

[2020-04-24 01:16] CodingAleCR commented on #19
Hi, @periyasamyshanmugam I've being trying to reproduce your problem but can't seem to get it. Could you post the piece of code where you are using either the `HttpClientWithInterceptor` or the `HttpWithInterceptor` to see if there is something wrong with the way you are using it?

[2020-04-24 01:30] CodingAleCR opened #20 "Parameters are not added to Uri."
When using an Uri object as url and also a separate parameters map, the parameters are not being added to the Uri in the same way that they are added if a string url is used instead.

[2020-04-24 03:51] #20 closed

[2020-04-24 04:09] CodingAleCR commented on #17
The feature was implemented, waiting on release though. Hope it helps you!

[2020-04-24 05:11] #4 closed

[2020-04-24 05:24] CodingAleCR commented on #17
Please take a look at [Release 0.3.0](https://github.com/CodingAleCR/http_interceptor/releases/tag/0.3.0). Feedback is always welcomed.

[2020-04-24 05:24] #17 closed

[2020-06-04 18:45] periyasamyshanmugam commented on #19
Hi, @CodingAleCR First of all sorry for late reply.

Simply I want to modify my url params using below code.

Future<RequestData> interceptRequest({RequestData data}) async {
    try {
      data.params["tokenString"] = "XXXXXXXXXXX";
    } catch (err) {
      print(err);
    }
    return data;
  }

This is my code where I am trying to add token string to my request params. But it is not reflectin

[2020-06-04 19:12] CodingAleCR commented on #19
No worries, here to help.

I understand that part, but I can't find any issues with the library. Are you using any of the options shown as followed for doing your request:

**Using interceptors with Client**
[code]

**Using interceptors without Client**
[code]

[2020-06-09 05:02] periyasamyshanmugam commented on #19
Yes I am using without client.

[code]

Like this i anything wrong in this?

[2020-06-16 04:30] CodingAleCR commented on #19
There doesn't seem to be anything wrong with. the code, I will keep making tests to see if I am able to reproduce it.

[2020-06-20 16:33] CodingAleCR commented on #19
Just as a follow up question, can I see what is implemented in `TokenInterceptor`? If you want to take this to a more private discussion we can exchange emails.

[2020-06-23 04:25] periyasamyshanmugam commented on #19
@CodingAleCR Yes I have defined and assigned my context properly.

[2020-06-24 02:32] taiju59 opened #26 "Is there any way to mock http response?"
Hello,
I want to mock http response.

Like `MockClient`. (in http package)

[code]

But `_client` instance in `HttpClientWithInterceptor` is final, private and initialized in field, so it's not injectable.

Then, I tried to mock with `InterceptorContract`.

But `interceptRequest` can't modify response.
And `interceptResponse` can't stop request, so (real) request thrown.
I want to mock without con

[2020-06-24 10:39] CodingAleCR commented on #26
Hi, no worries about your English, it's perfect. And as to your question, right now there's no way to mock it, I am currently working on making the library better and compatible with the much needed testing we all want. If you want I can let you know when I've added it via email or GitHub as well. Thanks for the comments and suggestions.

[2020-06-24 10:41] CodingAleCR commented on #19
Do you think maybe we could hop on a call and troubleshoot this problem? I am unable to reproduce it and I really want to help out the user's of the library. Cheers!

[2020-06-24 12:31] taiju59 commented on #26
@CodingAleCR Thank you for quick reply! OK, I understand. So I want to request feature to inject client instance.  If it seems to be good, I will create PR.

[2020-06-24 19:22] EricDatis opened #27 "Http Retry Policy not working"
shouldAttemptRetryOnResponse never triggered
[code]
[code]
[code]
I'm using dart for apps

[2020-06-24 19:34] CodingAleCR commented on #27
Hi @EricDatis I will double check this and make sure I can reproduce it. Will get back to you ASAP. Thanks for opening an issue for this. ✌🏼

[2020-06-24 19:39] CodingAleCR commented on #26
I will add it to the roadmap since I keep it separately from the repository in GitHub. I will however link back the PR to this issue once it's ready. Thanks! 🎉

[2020-07-03 00:01] smedic opened #28 "Question: Retry policy"
Thanks for this great addition to http lib.

I have a question: do we have to call synchronous function to get new token after 401 in RetryPolicy?
I saw dio enables us to call refresh in async so it's convenient for Futures.

Thanks!

[2020-07-03 03:34] CodingAleCR commented on #28
Hi yes at the moment but not in the future, there's already code in develop branch that will allow async call to the method and will help out. Release will be out this weekend and you will be able to try it out soon 🙌🏼

[2020-07-03 05:06] Bry1337 opened #29 "HttpClientWithInterceptor.send() issue"
HttpClientWithInterceptor does not print  request/response data when using send.

Is this a bug?

[2020-07-03 05:32] CodingAleCR commented on #29
Hi, at the moment we don't fully support `send` method. I am currently working on this along with multipart requests and much more. More news on this coming soon!

[2020-07-03 05:33] #29 closed

[2020-07-03 05:33] #28 closed

[2020-07-03 05:35] #26 closed

[2020-07-03 12:18] smedic commented on #28
Awesome! Thanks!

[2020-07-04 15:09] CodingAleCR commented on #27
Just letting you know about my findings @EricDatis. Seems like there is a bug with the way we are handling the retry count inside a client. I have fixed it and it will be available on the next release. 👋🏼

[2020-07-04 16:52] #27 closed

[2020-07-06 17:52] smedic opened #33 "interceptRequest never called"
I am trying to put auth token inside of a call, but my request interceptor is never called:

[code]

This is how interceptor looks like:

[code]

Any idea why? I need to be attached to client so every call passes through it.
Thanks

[2020-07-07 21:49] CodingAleCR commented on #33
Hi, there are a couple of things wrong in terms of usage, let's see them:

1. Currently the plugin does not support the `send` method, it is only available due to compatibility issues at the moment (but I hope to fix this in a version soon, along with multipart request support).
2. I imagine that the reason you are doing this "wrapper" is to avoid creating multiple instances of the same client+int

[2020-07-07 22:55] CodingAleCR commented on #6
This has been added to the private backlog that I will use for handling tasks, features and bugs. I will close this and refer back to it once the feature is ready.

[2020-07-07 22:55] #6 closed

[2020-07-08 12:29] smedic commented on #33
Thanks for suggestions. I did not know that send is not supported. I really appreciate your work on this. +1 :)

[2020-07-09 21:54] CodingAleCR commented on #33
No problem! I am really happy to help, I will probably mark the method somehow to avoid confusions like this because I can definitely understand how this feels like a bug (and since it's probably not well documented it could be referred as one). I hope it helped you out at least a bit. Cheers!

[2020-07-09 21:54] #33 closed

[2020-07-10 16:37] patrickoramah opened #34 "How do i catch socket exceptions"
I am trying to catch Socket exceptions in my service but it keeps slipping through and throwing the Exception block instead.

This is my implementation. Kindly advise
[code]

[code]

Also how do I set this up for the exceptions to be handled globally

[2020-07-11 17:08] CodingAleCR commented on #34
Hi @patrickoramah The way you are attempting to catch the SocketException should be just fine, in this case the problem is related to the library; it seems like there's a bug with the current version, I am currently checking it out and fixing it soon.

[2020-07-11 18:11] CodingAleCR commented on #34
Hi, me again, fixed in #35 with the new release 0.3.2 🚀

[2020-07-11 18:12] #34 closed

[2020-07-15 20:22] 1996SEJR opened #36 "HandshakeException: Connection terminated during handshake"
Obtengo la siguiente excepción cuando hago peticiones http, **¿Qué podría estar sucediendo?** En sí la excepción se produce al realizar peticiones get.
**Nota:** esto no ocurre todo el tiempo, es rara vez que se presenta (VERSION: ^0.2.0)
![image](https://user-images.githubusercontent.com/39715233/87591836-8c610880-c6ae-11ea-9cfa-7cf13825793e.png)

También suele pasar esto:
![image](https://user-i

[2020-07-15 20:58] CodingAleCR commented on #36
Hola, primero muchas gracias por abrir el issue para esto. Ahora, ¿podrías probar con las nuevas versiones del plugin? Me parece muy raro que estuviera relacionado a la librería por el uso interno que hace de `http`. También me gustaría saber si tienes de casualidad algún porcentaje de incidencias o si te sucede sólo a vos. Podrían ser problemas de conexión con el dispositivo también, pero me gust

[2020-07-15 21:07] 1996SEJR commented on #36
El problema está ocurriendo entre grupo de usuario internos que están probando una aplicación, no tengo un porcentaje, pero no sucede con mucha frecuencia. He visto que podría estar relacionado con el certificado ssl del servidor, pero no tengo una idea clara de que acciones tomar.

[2020-07-15 21:21] CodingAleCR commented on #36
Ummm, la versión 0.3.1+ introduce la capacidad de aprovechar para sobreescribir el comportamiento que acepta o niega el handshake de acuerdo al certificado ssl (por el momento una funcionalidad experimental debido a que no he podido hacer unit testing para ello), tal vez podrías hacer un intento  de utilizar esta funcionalidad y verificar si el comportamiento se reduce o si se mantiene. Aunque el

[2020-07-15 21:48] 1996SEJR commented on #36
badCertificateCallback no verifica ningun certificado SSL ? o que es lo que hace ?

[2020-07-15 22:03] CodingAleCR commented on #36
badCertificateCallback es una función que permite sobreescribir la manera en que se verifican los certificados SSL. Lo que hace es que se ejecuta cada vez que encuentra un certificado que considera como "malo" y permite que tu código decida si debería permitir la llamada o no. Por defecto tiene 3 parámetros que son:

1. certificate: que es el objeto representando al certificado.
2. host: que es el

[2020-07-16 16:58] #36 closed

[2020-08-07 05:30] 12Hemang commented on #19
Hi There,
i am facing same issue, on 401 API get called for token refresh , and new token get saved in shared preference (same printed in log also), but after that the old request get called without token.
Is there is any way that i can modify request with new header before call in shouldAttemptRetryOnResponse method..??

[2020-08-07 06:15] CodingAleCR commented on #19
Hi, what version of the library are you currently using? There was a bug that did not refresh interception after the first call and I'd like to verify if that is the issue you are having or if it's a different one. Thanks for writing!

[2020-08-07 06:38] 12Hemang commented on #19
Hi thank you for quick response , its really appreciable
Currently i m using http_interceptor: ^0.3.1 , and yes once after updating token on 401 the next call is not updated with latest data

[2020-08-07 07:05] 12Hemang commented on #19
Hi,Thanks i updated version  http_interceptor: ^0.3.2 and issue resolved

[2020-08-07 14:40] CodingAleCR commented on #19
I'm glad to hear that it was the issue I fixed recently 🎉 thanks for using the library and hopefully it helps you out a lot.

[2020-08-11 03:27] MichelFortes opened #37 "HttpClientWithInterceptor.send"
Hello guys.
It looks like `httpClientWithInterceptor.send(BaseRequest request)` doesn't use interceptors, retry policies and request timeouts.
Is this a desired behavior?
Best regards

[2020-08-11 03:53] CodingAleCR commented on #37
Hi, at the moment yes, send is used internally and I have not worked on adding support for it just yet. It is, however, in the close roadmap goals.

[2020-08-11 03:54] #19 closed

[2020-08-12 19:01] #37 closed

[2020-08-20 09:29] jrastic opened #38 "Consider(?) removing flutter/foundation.dart dependency"
Hi!

Currently, code that uses the library needs flutter run instead of dart run.
On dart run I get:
[code]

If run with flutter run all is good. Seems that dart:ui is not available in normal dart run...

Went through the code and it seems that if I remove flutter/foundation.dart imports all is well. Also, no @required is then available but that seems small price to pay, IMO at least.

What do you

[2020-08-20 17:00] CodingAleCR commented on #38
Hi, it definitely looks like something I would consider. I also want to expand the plugin to be able to use it with Flutter Web, it was initially conceived as a small plugin for Flutter Mobile but it has grown into much more than I expected. Just as a curiosity, is the project you are working on purely dart or is it something Flutter related as well?

[2020-08-28 00:53] CodingAleCR commented on #38
So your are using dart packages to separate your code right? I am working on making the library more testable (if that's even a word) and what you are saying matches with my view of the library as well. I will plan out ahead and see where it fits best to add this to the library, I think we might even be able to use another plugin called `meta` to replace the usage of `foundation`. What do you thin

[2020-09-02 07:56] sunnyagarwal008 opened #39 "Issue with Retrying requests with protobuf as response"
The `_attemptRequest` method checks if the retry policy is configured, and if yes it creates a response clone using               `ResponseData.fromHttpResponse(response)` which tries to read response body as string (response.body). This will not work if the response body is a protobuf byte array.

[code]

[2020-09-05 09:39] bluemix commented on #38
I hope there are updates to this issue. I keep getting errors on a dart project.
<img width="1436" alt="Screen Shot 2020-09-05 at 12 38 28" src="https://user-images.githubusercontent.com/3332274/92302420-c6df7700-ef74-11ea-956d-723ad5ad1344.png">

[2020-09-06 18:48] CodingAleCR commented on #38
So sorry to hear that @bluemix . I will work on it this week for sure and probably patch release if I find it to be quick enough, otherwise will mark it here for everyone to look at.

[2020-09-07 17:13] chinloyal opened #40 "Can't intercept requests on 'send()' method"
I am using an API that has an odd DELETE request endpoint where I have to pass a body to it, the default delete method doesn't have an option to pass a body so I have to create a custom request then pass it like this `client.send(request)`, the problem is the interceptor doesn't seem to intercept these requests on the client, and so my default headers are left blank.

Is there a way to intercept t

[2020-09-07 23:54] CodingAleCR commented on #40
Hmm, to be honest, right now there's no way to achieve this other than extending the class and using your own extension for it. I do plan to support the `send` method call, right now it's mostly an escape hatch and not fully supported. I'm sorry that I cannot be of more assistance with your case, but I'd be down to a call if you need it. Cheers and thanks for the issue!

[2020-09-07 23:56] CodingAleCR commented on #39
Hi, yes, the initial idea was to create a plugin mostly for RESTful APIs, I did not notice that people were using it for protobufs. I'm sorry you are running into this much trouble. I will definitely will add protobuf support going forward, but for now the plugin is not compatible 😕

[2020-09-09 17:36] mmadtop opened #41 "Can I use http_interceptor in flutter web?"
Hello, I've succesfully used this library for a mobile app.
I'm trying to use it in a web app but it gives me error when I make a request with interceptor.

I would like to know if is not provided for the web version or if is another type of error.

Thank you in advance.

this is the stack:

onError Expected a value of type 'Exception', but got one of type 'UnsupportedError'
Error: Unhandled error

[2020-09-09 21:19] CodingAleCR commented on #41
Hi, short answer: currently no.

Long answer: I am working on it. Since Flutter Web is not stable yet it can change and it's not part of what I initially thought to implement. However, my plan for this is to add a separate branch that provides support for this, especially since this is really a simple plugin that should be allowed to be used in different platforms even while in beta.

[2020-09-14 07:46] logblythe opened #42 "How to use updated token in the repeating request?"
I have been using http and http_interceptor for networking in the flutter application. In the request, I am adding token header from the SecureStorage. Now once the token expires(401 error), I refresh the token, update the token in SecureStorage. But when the request gets repeated old token is used instead of the new one

[2020-09-15 04:22] choi-seung-min opened #43 "Retry policy may got NoSuchMethodError issue"
I was trying to get 401 from server(i got no token when i requested). But the application did not went i expected. It passed all exception handlers i used so i checked the log and it says "type NoSuchMethodError is not type of Exception". After debugging, i noticed that retry policy is causing this issue. So now i temporarily removed retry policy with that api request. I was using firebase authent

[2020-09-16 07:09] choi-seung-min commented on #43
Sorry, it was firebase problem. I checked all works fine with interceptor.

[2020-09-16 07:09] #43 closed

[2020-09-16 12:36] CodingAleCR commented on #43
I'm glad to hear everything is working fine now. Let me know if there is anything I can help you with. Cheers!

[2020-09-16 12:43] CodingAleCR commented on #42
Sorry it took me so long to reply, are you trying to retry onResponse or onError? It should work in the way you are trying to do it, so it might be a bug depending on how it's implemented.

[2020-09-16 16:31] logblythe commented on #42
I am making this post request in which I get the token from FlutterSecureStorage package.
[code]
In my RetryPolicyClass
[code]

Now, when the post request is retried after updating the token in the secured storage, same old token is being used. How can I use the updated token when the request is retried.

[2020-09-16 20:17] CodingAleCR commented on #42
And how is your interceptor looking? Are you using Client with Interceptor o just Http with Interceptor?

[2020-09-21 03:28] logblythe commented on #42
@CodingAleCR  Just logging with the interceptor.
[code]
and using it like
[code]

[2020-09-21 03:44] CodingAleCR commented on #42
No worries! In order for the request to be properly updated I would suggest you create an additional interceptor to include the token in your headers.

Here's what's happening right now:
1. You make the request with manually set header.
2.  Request fails because the token has expired.
3. Retry policy is checked and updates the token in storage.
4. Request is retried.
5. Request fails.

Notice that

[2020-09-21 05:01] logblythe commented on #42
When the retry happens, the updated token doesn't get used. If I make the request again, then only the updated token is being used.

[2020-09-21 13:08] CodingAleCR commented on #42
Yes, thst is because the retry policy updates the storage but the request is still the same as before. The solution would be to use an interceptor to attach the header you need like described above in my previous message.

[2020-09-22 03:41] logblythe commented on #42
I tried using another interceptor as you suggested, but even that interceptor doesn't use the updated value.

[2020-09-22 04:03] CodingAleCR commented on #42
Do you have an example repository that maybe I could take a look, I ask this because I'm doing the exact same thing as you are in my projects but it's working fine for some reason, so I want to figure out what's happening and help you in a better way. I'm also down for a [Gitduck](https://gitduck.com/codingale) session or something like that if you feel more comfortable with it.

[2020-09-22 05:55] logblythe commented on #42
I am not very familiar with the pair programming tools. I tried sharing with Gitduck but it didn't go well. However we can still go with [CodeTogether](https://www.codetogether.com/download/). Let me know what time works for you.

[2020-09-23 08:52] logblythe commented on #42
I was finally able to use the updated token, via another interceptor. Thanks a lot for helping me out.

[2020-09-23 18:12] CodingAleCR commented on #42
That sounds great, I was just about to reply with a time window for the call. I'm glad to hear it worked out.

[2020-09-23 18:12] #42 closed

[2020-09-26 00:27] CodingAleCR commented on #38
@bluemix @jrastic I've added a feature branch that removes flutter/foundation.dart dependencies. It would be great if you could double-check that this would fix the issues that you were both having. Thanks in any case for posting the issue and sorry for getting to it so late.

[2020-09-30 22:32] CodingAleCR commented on #38
I can confirm that this issue is fixed in the branch and will be available soon as a patch release. Thanks for notifying the issue and hopefully it improves the usage of the plugin.

[2020-10-08 21:17] gray419 opened #45 "Unit testing interceptors/retry policies"
I'm building an http client with:

[code]

I'd like to mock a `401` via:

[code]

But I'm getting an error: `type 'Future<Response>' is not a subtype of type 'Future<String>'` .  Any examples or tips would be awesome!

[2020-10-12 02:36] CodingAleCR commented on #45
Hi, I am looking further into this, since the way you are approaching the test seems to be the correct one. I will get back to you ASAP with a solution. Cheers and thanks for the issue!

[2020-10-12 04:02] CodingAleCR commented on #45
Dang it! I remembered why you can't do that as of right now ☹️. So, since the client is actually not implemented via interfaces we need to provide one or provide a client to be mocked. I am working hard to add testing and refactoring the bits and pieces that are affected by this so we can actually start using the package in the way it's supposed to work. I am so sorry for the inconveniences that t

[2020-10-12 04:08] CodingAleCR commented on #38
This will be fixed in version 0.3.3. Closing the issue.

[2020-10-12 04:08] #38 closed

[2020-10-12 04:09] CodingAleCR commented on #40
I have added this to the backlog, I will close the issue now.

[2020-10-12 04:09] #40 closed

[2020-10-12 04:10] CodingAleCR commented on #39
Hi, I have added this to the backlog, hopefully I will have it ready soon enough, I will close the issue for now and will ping back once it's merged. Cheers!

[2020-10-12 04:10] #39 closed

[2020-10-16 09:57] sunnykinger commented on #40
I faced the same problem. Headers were not attached to send call

[2020-10-16 14:33] CodingAleCR commented on #40
Hi, yes, as pointed in the plugin's read me, the usage of the send method is not supported yet, I am working to achieve this, it takes quite an effort since I might need to clone every type of request to properly intercept it. I'm sorry for the many inconveniences this has caused.

[2020-10-26 17:20] ac130kz opened #47 "background json compute"
`ResponseData` object is built with a `String` based body, however I'd like to use background json decoding, which returns a Json object (examples: [official](https://flutter.dev/docs/cookbook/networking/background-parsing), [dio_flutter_transformer](https://github.com/flutterchina/dio_flutter_transformer/blob/master/lib/dio_flutter_transformer.dart)). How do I implement my interceptor?

[2020-10-28 21:17] CodingAleCR commented on #47
Hi, this is a really nice question, as of right now, this would fit into the feature request category since the response interceptor is static typed to a String class. I will add this to the near future as I believe it is the desired behavior of intercepting a response.

[2020-12-13 14:13] gregor-vi opened #48 "Make it work with Client.send()"
Currently it doesn't seem to work whenever using the http client's 'send()' method, which makes the interceptor useless in those cases.

[2020-12-17 16:43] CodingAleCR commented on #48
Hi yes,  the `send` method is not currently supported, it is included more as an escape hatch. I will be adding it as soon as I get the time to do it since it's top priority.

[2020-12-18 05:34] #45 closed

[2021-01-03 22:56] #47 closed

[2021-01-07 17:22] jlubeck opened #50 "Bad state: Can't finalize a finalized Request."
I just got a chance to try this out, and the first time that I got my request to try, I got this exception:

`Bad state: Can't finalize a finalized Request.`

This is how I'm creating my initial client:
[code]

And this is my RetryPolicy

[code]

[2021-01-08 15:42] CodingAleCR commented on #50
Will look into this ASAP.

Thanks for the issue!

[2021-01-08 22:23] jlubeck commented on #41
Can you please keep this one open? Even though it's not stable yet, there are a lot of people using it already. And having this package work on web would be great.

[2021-01-08 23:21] CodingAleCR commented on #41
Sure thing. Still on my to-do though

[2021-01-24 06:41] sharpsan commented on #41
what's the crux of the issue?
I set breakpoints and this is where the error is throwing: https://github.com/CodingAleCR/http_interceptor/blob/94cfcaeb6010174621f2da40b825c10ce2740386/lib/http_client_with_interceptor.dart#L49-L54

[2021-01-25 02:28] CodingAleCR commented on #41
TBH, I didn't expect the plugin to be used much besides by myself, but I'm noticing an increase in the usage, so I'm moving this up in my priorities so that I can give proper maintenance to the plugin and provide usefulness out of it for the whole flutter community. So sorry it has taken this long 😔

[2021-02-12 13:09] jcblancomartinez opened #52 "Adding bodyBytes to RequestData"
**Is your feature request related to a problem? Please describe.**

Currently, InterceptorContract's interceptRequest and interceptResponse methods receive RequestData.

RequestData has body field but not bodyBytes.

We want access to bodyBytes to be able to decode it using the right encoding. In our case, we use UTF8, instead of latin1.

**Describe the solution you'd like**

I suggest bodyBytes g

[2021-02-13 12:15] BartusZak opened #53 "[WEB] Unsupported operation: Platform._version"
[code]

Result:
`Unsupported operation: Platform._version`

[code]

`http_interceptor: ^0.3.3`

Related to https://github.com/flutter/flutter/issues/39998.

`<getObject: NoSuchMethodError: The getter 'uri' was called on null.>`
`http_client_with_interceptor.dart`

[2021-02-13 12:22] BartusZak commented on #53
#https://github.com/flutter/flutter/issues/39998

[2021-02-16 00:40] CodingAleCR commented on #53
Are you by any chance using Flutter for Web?

[2021-02-16 00:41] CodingAleCR commented on #52
Hi, thanks, will look into adding this to the backlog and prioritizing as it is requested by users of the plugin.

[2021-02-16 00:43] CodingAleCR commented on #50
Definitely a bug in need of a fix. Hopefully a patch version will come out this week for this issue. Thanks!

[2021-02-19 13:39] BartusZak commented on #53
Hey @CodingAleCR,

That's correct.

I was playing around with your library but at the end I had to user `Dio`.

It has `interceptors` and supports `Web`/`Android` and `iOS`.

[2021-02-19 13:44] CodingAleCR commented on #53
I'm sorry for the confusion, I have not been able to take the time to add support for Web. I'm glad you found a solution for your problems and happy that you are using Flutter. Cheers from Costa Rica my friend! 🥳🥳

[2021-02-19 14:45] BartusZak commented on #53
Let's leave that issue open then for others.

Pozdrowienia z Polski 👯‍♂️

[2021-03-04 07:49] sesha-codeprism opened #54 "Request for Dependencies update"
Can the dependencies for the project be updated?

Flutter 2.0 for Stable channel has been released and many packages have been updated to null safety versions. This package has dependency on http and updating http package requires updating http_interceptor, so version solving fails.
But, firebase_core depends on http latest version so that can't be updated either.

This package is mandatory for my

[2021-03-04 13:20] CodingAleCR commented on #54
Yes, I will update them today and give you an update.

[2021-03-05 06:58] CodingAleCR commented on #54
Hi, just an update. Since version 0.13.0 of http includes a couple of breaking changes I have to change a bit the way the interceptors work so... The bad news is that it'll take me a bit more, but the good news is that I can have it ready by Saturday without faults.

I apologize for the inconveniences this may be causing to your work or anyone else's. 🙏🏼😔

[2021-03-05 07:27] p0wl90 commented on #54
Thanks, that's great news (and also fast in my opinion)! Do you also plan on migrating to null-safety soon?

[2021-03-05 07:33] sesha-codeprism commented on #54
No problem at all mate, you can take your time and do it at your convenience. No inconvenience as such, it's just that I can't update to latest packages, that's all.

You want/need more time, I'm a-okay with it.

Will be waiting for the update..Thanks a lot for the hard work mate!

[2021-03-05 12:53] CodingAleCR commented on #54
Yes, the update will include null safety and hopefully proper web support.

[2021-03-07 02:42] SeasonLeee opened #55 "Is the interceptor design to be used without repository design pattern? Is so, any demo to how to do it?"
Hi, first thanks for the great complementary package to the existing http package to address one of the most wanted feature.

However I'm having trouble to figure it out how to integrate the package into our project.

Currently, we do all the http networking in a most direct and simple way. As you can see from the two GET and POST method I pasted below:

[code]

And this is an example of how we do

[2021-03-07 19:01] sesha-codeprism commented on #55
Hey there.. I'm not the package's author nor an expert in this topic, but I've implemented interceptor and retry functionalities in my own project and want to help you out.

Please do note this implementation is from the package version 0.3.3... I assume the package would be updated soon. Implementation may change.

First just write the interceptor code;
`class SampleInterceptor implements Interce

[2021-03-07 23:51] basti1253 commented on #54
Hi there,

first of all thank you very much for all the time you've spent on creating and maintaining this lib.

I've forked and updated your code base to sound null safety. I've made quite a few changes so I don't know if you like my approach. E.g. I've replaced effective_dart by pedantic and dropped support for using Strings as URIs as there's no union type in dart.

If you want me to create a P

[2021-03-08 01:36] CodingAleCR commented on #54
You're the best haha. Although I already have a local branch done as well, just testing it out to avoid adding breaking changes. Thanks a lot Sebastian and I will definitely check it out to see if there's something I missed that you already have.

Also, this weekend I've reflected upon the future of the plugin, I will release stable 1.0.0 really soon but it will include a couple of breaking change

[2021-03-08 19:58] CodingAleCR commented on #55
Hi @SeasonLeee, you can definitely use the plugin without the repository pattern. It is designed to be agnostic to whatever pattern you desire. Here's an example to achieve what you are suggesting:

1. Declare your RetryPolicy:

[code]

2. Use the http_interceptor plugin to fetch, you have to ways to do this:
   a. Instantiating a client
[code]
     Then, at the lines where you do your requests us

[2021-03-08 20:17] CodingAleCR commented on #54
Hi, this should be solved once 0.4.0 is published, please take a look at the migration guide in order to fix any issues caused by the update. Here's the PR with the changes as well if you are curious as well: #57

[2021-03-08 20:17] #54 closed

[2021-03-08 20:21] CodingAleCR commented on #53
This should be fixed as of 0.4.0, it's important that you guys know that the badCertificatesCallback and the findProxy features are not supported on Flutter Web due to browser limitations. Let me know if any other issues persist, also be aware of CORS as while testing I found some issues around it while querying public APIs.

[2021-03-08 20:21] #53 closed

[2021-03-08 20:22] CodingAleCR commented on #41
As of 0.4.0 you should be able to use this plugin for flutter web without any issues. Cheers!

[2021-03-08 20:22] #41 closed

[2021-03-09 03:08] CodingAleCR commented on #52
This will be coming out soon, keep an eye out :)

[2021-03-09 03:35] #52 closed

[2021-03-09 05:23] CodingAleCR opened #61 "Feature: Add array support in query params"
**Is your feature request related to a problem? Please describe.**
Sending array as part of parameters.

**Describe the solution you'd like**
Add array support to parameters

**Describe alternatives you've considered**
json encoding/decoding params beforehand, but it does not always work as expected

**Additional context**
See #56 for implementation on previous version of the plugin

[2021-03-09 05:27] CodingAleCR commented on #50
Might be related to resending the same request. Note to self on this SO post that might help come up with a solution.

[2021-03-09 11:16] SeasonLeee commented on #55
@sesha-codeprism
@CodingAleCR

Hi super thanks for all your reply, I kind of set up the `RetryPolicy` in our project.

But I still have one question.

How should I stop the Retry request and eventually stop the whole request?

Well, I am doing the token refreshing, what should I do when the refresh token fail? Or I actually want the user to re-login?

Thanks in advance

[2021-03-09 18:10] basti1253 commented on #54
Thank you :)

[2021-03-10 04:21] #50 closed

[2021-03-10 16:43] CodingAleCR commented on #54
You are very welcome. Let me know if there's other ideas you might have or needs you think we could cover with the library. Also, feel free to checkout our roadmap 🙌🏼

[2021-03-10 19:48] shyndman commented on #48
Hi @CodingAleCR,

I found myself in need of something like this, and I put together a little project demonstrating a possible approach to getting send intercepting reasonably. Nothing is too polished, but I wanted to hear your opinion.

https://github.com/shyndman/http-recorder

[2021-03-10 21:08] CodingAleCR commented on #48
Hey @shyndman!

Thanks a lot, I will take a look at it and come back to you. I've been playing around with making send work via cloning the request but have seemed to hit a wall when copying StreamedRequests, I would love it if I can get it working before 1.0.0 gets released, your repository will definitely help me out a ton as I am sure I will learn a lot.

[2021-03-11 04:36] shyndman commented on #48
I haven't actually tried with StreamedRequest...but its documentation is slightly worrying. I'm going to try it out and get back.

[2021-03-11 06:38] SeasonLeee commented on #55
@sesha-codeprism Thank you again for your kind reply, but before I can tackle this "stop the network request" thing.

I have a more urgent thing want to ask.

Currently the interceptor in our project is outside of the `provider` tree(we use package `provider` to do the state management), and the token is stored in the `provider` and `sharedPreference`.

During the token refreshing, besides updatin

[2021-03-11 08:06] sesha-codeprism commented on #55
My, I got a strong sense of Déjà vu here mate... because this was an issue I struggled with too during initial stages...

So here's I managed it.. I maintain all variables I would require access to without context (like this token) in a file called Globals... I can store them in providers as well, sure but sometimes I'd need to read/write/update them where I don't have context. I try to keep this

[2021-03-11 08:25] SeasonLeee commented on #55
@sesha-codeprism Thank you again for your kind and helpful response.

And yeah, the methods you provide sure does the trick but I wonder something more sophisticated.

Then I keep on search I found there's certain design pattern for this case.

That's when I found `GetIt` package: https://pub.dev/packages/get_it

But the weird thing is that even with this package, the value I retrieve with `GetIt`

[2021-03-11 15:56] CodingAleCR commented on #48
I will push my code to a branch so you can see where I'm going with this, any feedback is welcomed. Still haven't gotten around to checking your repository, but will probably take a look during the weekend. Cheers!

[2021-03-11 16:03] CodingAleCR commented on #55
Hi @SeasonLeee, I had a similar problem a few months back. My problem was that the interceptor was instantiated before actually setting the token and thus the retry policy was not fetching the token correctly. I tried a few ways but in the end what worked for me was setting the storage to both the interceptor and the retry policy with something like this:

[code]

[2021-03-11 18:22] shyndman commented on #48
So turns out my solution works fine for StreamedRequests. Woot! There are some bugs in the recorder, but I'll get them sorted.

[2021-03-11 18:26] shyndman commented on #48
Also works for multipart requests, and completely avoids all that annoying finalization stuff they have in there.

Works on the basis of a `ByteStream` subclass that wraps an inner stream, caches its contents, and can hand out a single-subscriber stream to anyone who calls `listen()`. Those streams have the entire sequence of bytes replayed, so nothing gets lost.

There are memory implications if

[2021-03-11 18:46] SeasonLeee commented on #55
@CodingAleCR Thank you so much for the kind and helpful response!

And I want to point out that in my last response, I said I was going to use `GetIt` to get the value in the `Provider`, but I couldn't, because I got different instant from `GetIt` and `Provider`.

Turns out, I was instantiate two instance of my data model, which leads to the situation above.

Let say, my original way of doing thin

[2021-03-11 20:02] shyndman commented on #48
Pushed up the latest, which includes a demonstration of StreamedRequest interception [in the example](https://github.com/shyndman/http-recorder/blob/main/example/main.dart).

[2021-03-12 07:25] SeasonLeee commented on #55
@CodingAleCR Hey Alejandro, I have browsed through the closed issue history, and I found this closed issue #42  is pretty much my exact situation, how does @logblythe solve the problem eventually?

Also, I do not use interceptor to add token....... yeah, it's not that cool... well... yeah...

[2021-03-12 07:25] SeasonLeee commented on #42
@logblythe hey, how did you solve this problem eventually?

[2021-03-12 08:04] SeasonLeee commented on #55
@CodingAleCR

Hey!!!! I made it!!!! In the interceptor I use a comparison like this:
[code]

fix the issue like #42

😭 I kind of want to cry after getting this done.... anyway thank you for everything!!!!

Although I still have some other question regarding the design of the package and some possible missing feature hoping to discuss, so I keep this issue open for now, I will get back to this afte

[2021-03-12 13:19] CodingAleCR commented on #55
That sounds awesome!! It's great that it's working now 🥳

And sure, let me know what are your thoughts and maybe I can help out 🙌🏼

[2021-03-22 16:45] jlubeck commented on #50
Nice! Doesn't seem like 0.4.1 has this fix yet though, unless I'm missing something?

[2021-03-22 17:08] CodingAleCR commented on #50
Hi, thanks for writing. Not just yet since I'm working on adding testing and a stable 1.0.0 release. It will involve breaking changes so I'm trying to be as thorough as I can be. In the meantime if you want I can try to isolate the change and release another patch version if that's ok.

[2021-03-22 17:39] jlubeck commented on #50
That's fine, I can wait since this wasn't really a breaking issue. Thanks!

[2021-04-08 12:02] jcblancomartinez commented on #52
@CodingAleCR This is not yet available in http_interceptor 0.4.1. Can you please let me know when you release a version with these changes?

Thanks.

[2021-04-08 13:01] CodingAleCR commented on #52
Will do. Stable 1.0.0 is coming out soon with this already in it ☺️🙌🏼

[2021-04-17 08:20] ParthPahuja101 opened #64 "It's time to make it compatible with flutter web"
Since flutter web is the next big thing, how come HTTP interceptor does not support flutter web?

[2021-04-20 23:36] CodingAleCR commented on #64
It partially does.

The package is compatible with Flutter Web, however, pub.dev and dart do not completely recognize this due to a particular feature (**badCertificateCallback**), I am currently trying to find a way to make it be recognized completely.

[2021-04-29 14:38] jega-ms opened #65 "Add Null safety support"
Add a Null safety support

[2021-04-29 14:39] CodingAleCR commented on #65
Hi, what version of the plugin are you using?

[2021-05-02 10:41] Add00w opened #66 "Is there a way to catch all socket exceptions in place for this package?"
I use this package for intercepting all my requests and I need way to handle all internet exceptions in one place not in all repositories as this example shows

[code]

can any one tell me how to at one place?

[2021-05-04 22:30] CodingAleCR commented on #66
Hi, as of right now the only way to achieve this would be to wrap your interceptor within another class that implements the behavior you desire, in fact, the whole `http` is built this way so you can customize your needs.

The wrapper class would be the one that you use on the different repositories and also handle all internet exceptions.

[2021-05-10 11:37] caseyryan opened #67 "Any chance for unbinding it from Flutter and making it a pure Dart package?"
This interceptor is a really cool thing and I'm using it in several projects. Today I needed to use it on my Jaguar backend and I found out it depends on Flutter (for some reason). Of course I didn't want to add Flutter to my backend so taking a quick look into sources I found out there is absolutely nothing related to flutter inside the package and thus I could quickly make it work with a pure da

[2021-05-10 15:07] CodingAleCR commented on #67
Hi, yes, it definitely makes sense to do this. I will investigate on that front and ping back this issue when I have the info. Cheers!

[2021-05-21 04:40] #55 closed

[2021-06-01 13:25] gutisalex opened #68 "Is this working with multipartrequests?"
I need to work with a soap API and all their endpoints run over a multipartrequest. Is there a way to intercept those as well? I could not figure that out yet? Do you have a little example?

KR

[2021-06-01 14:12] CodingAleCR commented on #68
Multipart support is still being worked on, so as of right now, the latest release does not support it yet.

[2021-06-01 15:05] gutisalex commented on #68
thx for the info...

[2021-06-01 15:05] #68 closed

[2021-06-08 10:27] sergey-koba-mobidev commented on #50
Hi, a patch version would be great indeed!

[2021-06-08 14:50] CodingAleCR commented on #50
I will try to have by the weekend ✌🏼🙌🏼

[2021-06-09 12:22] II11II commented on #48
Any news?

[2021-06-09 13:41] CodingAleCR commented on #48
Unfortunately it is not complete yet, as it involves quite a bit of refactoring I'm going piece by piece to make sure it does not break anything.

[2021-06-09 17:34] shyndman commented on #48
Worth mentioning that I solidified this pattern (for a specific use case) here:
https://github.com/madewithfelt/betamax

It works great, and I'm pretty sure I fixed a couple tricky bugs during the transition from experiment to package.

[2021-06-09 20:41] shyndman commented on #48
Oh, and worth mentioning, I'd _love_ to swap out the lower level code for your stuff if it was available.

Happy to help to, if you want it.

[2021-06-11 23:42] CodingAleCR commented on #48
Help is always welcomed @shyndman so we could definitely collab on it 💪🏼

[2021-06-12 04:51] CodingAleCR commented on #67
@all-contributors please add @caseyryan  for ideas

[2021-06-12 04:53] CodingAleCR commented on #67
I've removed the dependency on Flutter and will be part of 1.0.0 release ;)

[2021-06-12 04:53] #67 closed

[2021-06-12 04:55] CodingAleCR commented on #64
`badCertificatesCallback` was refactored out of the package but can still be achieved by following the docs of the 1.0.0 release coming soon.

[2021-06-12 04:55] #64 closed

[2021-06-12 04:56] #65 closed

[2021-06-12 05:00] CodingAleCR commented on #61
@all-contributors please add @Virus1908 for ideas, code and test

[2021-06-12 05:01] CodingAleCR commented on #61
This was included as part of 1.0.0 release.

[2021-06-12 05:01] #61 closed

[2021-06-12 05:02] CodingAleCR opened #71 "Add missing contributors to the project"

[2021-06-12 05:03] CodingAleCR commented on #71
@all-contributors add @AsynchronySuperWes for ideas, code and tests

[2021-06-12 05:07] CodingAleCR commented on #71
@all-contributors add @jlubeck for ideas, code and tests

[2021-06-12 05:08] CodingAleCR commented on #71
@all-contributors add @lucalves for ideas, code and tests

[2021-06-12 05:11] CodingAleCR commented on #71
@all-contributors add @stewemetal for ideas, code and tests

[2021-06-12 05:19] #71 closed

[2021-06-12 05:21] CodingAleCR commented on #48
@all-contributors add @gregor-vi, @shyndman, @II11II for ideas

[2021-06-12 05:22] CodingAleCR commented on #48
@all-contributors add @shyndman for ideas

[2021-06-12 05:24] CodingAleCR commented on #48
@all-contributors add @II11II for ideas

[2021-07-09 14:44] II11II opened #83 "BaseRequest field is missing in ResponseData"
In mapper method ```Response toHttpResponse()``` and factory ```factory ResponseData.fromHttpResponse(Response response)``` , mapping BaseRequest is missing.
P.s. in  ```Response toHttpResponse()``` method maps to Request only method and ```Uri```. But headers and bodies are missing

[2021-07-09 14:53] CodingAleCR commented on #83
Thank you for opening the issue, I will get to it ASAP🔥

[2021-07-09 15:17] II11II commented on #83
@CodingAleCR  Thank you)
I would like to ask why custom models f.e. ```RequestData and ResponseData```  are created?
May they replaced by default ```http``` library models, ```Request and Respone```   respectively?

[2021-07-09 15:28] kiaxseventh commented on #48
@CodingAleCR  any news?
client.send() method are not shipped via http_interceptor Therefore, RetryPolicy and InterceptorContract do not work
i have problem for upload file with authentication

[2021-07-09 15:40] CodingAleCR commented on #48
Still working on it, I'm having issues when trying out the implementation with different request types like Multipart or Streamed. I'm sorry for not having better news 😔

[2021-07-09 15:58] shyndman commented on #48
Trying out the Betamax implementation? What are you running into?

[2021-07-10 00:57] CodingAleCR commented on #83
They are needed in order to provide mutable versions of `Request` and `Response` classes on `http`. For example, query parameters are not mutable in `Request`, and thus you are not able to intercept those.

[2021-07-10 17:15] #83 closed

[2021-07-10 17:17] CodingAleCR commented on #83
@all-contributors add @II11II for tests and code

[2021-07-10 23:58] #66 closed

[2021-07-13 22:16] vandres commented on #48
I also would love to see a solution for that. Using a library, which is dependent on `send()` and I would like to add some headers.

[2021-07-14 04:38] CodingAleCR commented on #48
The thing with it is that it's dependant on `dart:io`, so I can't fully use your approach since we would loose web and desktop support, I have a similar approach but still in development.

[2021-07-20 09:27] vlladislav45 opened #87 "Put request is bugged"
This interceptor doesn't works good with type put requests. I had to debug a several hours to understand why my request doesn't send. I think there is a problem with the post requests too but i'm not sure of one hundred percents, it has to be tested.

[2021-07-20 13:29] CodingAleCR commented on #87
Hi, could you tell me what is it you are doing, the expected result and then the actual result?

[2021-07-20 20:59] meysammahfouzi commented on #87
@vlladislav45 If you are sending PUT request to PHP and expect to receive parameters, please be advised that there's a problem with PUT/PATCH requests in PHP where post data are not available in the server.

[2021-07-20 21:07] meysammahfouzi opened #88 "InterceptedHttp get not working with int parameters"
**Describe the bug**
I was trying to get an endpoint with int parameter:

[code]

I was wondering why `id: 1` is not received on the server. After some investigation I realized that the parameter values are included in the requet only if they are string:

[code]

**Expected behavior**
I expect the parameters to be included even when they are not string:

[code]

**Please complete the following inf

[2021-07-20 21:08] CodingAleCR commented on #88
Thank you for the issue, I will take a look ASAP as I think this is critical

[2021-07-27 07:51] AhmedBenCheikh commented on #50
![Screen Shot 2021-07-27 at 10 51 07 AM](https://user-images.githubusercontent.com/18368441/127117004-981b28ba-656c-4e4d-95f3-8694b1c74162.png)

please any update for this issue !???

[2021-07-27 14:48] CodingAleCR commented on #50
Hi, thanks for writing. This should have been fixed with 1.0.0

Can you give me a bit more of an explanation as to what you are trying to do? I want to figure out the cause of your situation since it's affecting the fix made earlier and fix the root cause. 😊

[2021-07-27 16:13] AhmedBenCheikh commented on #50
Hi, thx for your reponse, i am trying to refresh my token, when i have 401 error i call my endpoint to refresh the token and i make retryPolicy in http to request the endpoknt again, if you have example for retryPolicy share me please because i don t find in documentation
Thank you

[2021-08-01 16:29] CodingAleCR commented on #50
Can you tell me or setup a repository where I can reproduce this?

I have tried to make it fail but couldn't, maybe I am doing something differently.

[2021-08-02 06:17] AhmedBenCheikh commented on #50
So, please share me your code, maybe my logic is wrong
thank you

[2021-08-06 09:58] MaciejZuk opened #89 "Missing parameters for DELETE method"
Hello,

I have found one problem with DELETE method.

Intercepted_client.dart - line 144

  Future<Response> delete(
    Uri url, {
    Map<String, String>? headers,
    Object? body,
    Encoding? encoding,
  }) =>
      _sendUnstreamed(
        method: Method.DELETE,
        url: url,
        headers: headers,
      );

You have missed pass two parameters (body and encoding) for method _sendUnst

[2021-08-06 16:14] CodingAleCR commented on #89
Once #90 is merged and a release is done, this should be fixed for you. @all-contributors add @MaciejZuk for bugs

[2021-08-08 16:59] #88 closed

[2021-08-08 17:00] #89 closed

[2021-08-08 17:16] CodingAleCR commented on #87
Hi, I've added `params` to all methods that were missing them, hopefully, that helps out. Other than that I'm still working on tests so that I can assure that it works as expected (only 34% is covered by tests), so thank you for the patience. In the meantime, it would help me out tremendously if you could help me answer these questions about your case:

-  Steps to reproduce the behavior
-  Flutte

[2021-09-19 12:53] #48 closed

[2021-09-19 20:48] Mathew-Smith commented on #48
Would be great to see support for client.send(). Is it still in the pipeline?

[2021-10-13 20:22] CodingAleCR commented on #68
Hey, unfortunately not yet since I have been too invested into my job and have not been able to give this as much time as it has needed. 😞

On the other hand, contributions are always welcomed and encouraged 🥳👌🏼

[2021-10-19 13:54] vixez opened #92 "Being able to pause requests"
**Is your feature request related to a problem? Please describe.**
The app I'm building can fire multiple requests at once.
When one of the requests gets a 401 for an expired token, it updates the token in a `RetryPolicy`.
During this update, all other requests should be paused as a new token is being retrieved.

**Describe the solution you'd like**
Be able to pause requests in the queue, and resu

[2021-10-19 15:12] vixez commented on #92
I have created a PR for how I currently solved this issue.
- https://github.com/CodingAleCR/http_interceptor/pull/93

[2021-10-22 03:52] CodingAleCR commented on #92
Really interesting FR (Feature Request). Is this request based on the need for having multiple requests but refresh token only once for all subsequent requests?

[2021-10-22 03:54] CodingAleCR commented on #92
This could be interesting as well if the "pausing" was performed when the retry policy is triggered instead of always as well, in any case, how would you feel about this?

[2021-10-27 01:26] riskiadi opened #95 "Can it be used with MultipartRequest?"
How did you use multipart request using interceptor, i cant using interceptor with MultipartRequest() ?

final http = InterceptedHttp.build(interceptors: [Interceptor(),]);
var request = http.**MultipartRequest**("POST", uri);

`The method 'MultipartRequest' isn't defined for the type 'InterceptedHttp'. (Documentation)`

[2021-10-29 03:37] LucPham opened #97 "Cancel http request"
Hi,
Can I cancel a http processing request?

[2021-11-08 17:07] CodingAleCR commented on #97
Hey, so sorry for the delayed response, as of right now there is not an exact way to cancel a request. I have noted the feature and added it to the roadmap. Cheers!

[2021-11-18 03:45] CodingAleCR commented on #95
Hey, we have a beta version that supports `MultipartRequest`s, let me know if you are willing to try it out, it has a new API so you might need to adjust a few things (check out [the guide for more info](https://github.com/CodingAleCR/http_interceptor/blob/main/guides/migration_guide_2.0.0.md))

[2021-11-18 23:58] riskiadi commented on #95
Yep, I'm so excited, thanks for developing "HTTP interceptor", I will try it later.

[2021-11-23 23:05] CodingAleCR commented on #68
Multipart requests are added on #98 and to the 2.0.0 beta, feel free to try it out if you want ;)

[2021-11-23 23:06] CodingAleCR commented on #40
Using `send` method was added on #98 and to the 2.0.0 beta, feel free to try it out if you want ;)

[2021-11-23 23:06] CodingAleCR commented on #37
Using `send` method was added on #98 and to the 2.0.0 beta, feel free to try it out if you want ;)

[2021-11-23 23:06] CodingAleCR commented on #29
Using `send` method was added on #98 and to the 2.0.0 beta, feel free to try it out if you want ;)

[2021-11-25 10:00] yan-064 opened #100 "interceptResponse, missing response headers"
Hi,

I have some trouble, I'd like to retrieve custom header into the interceptresponse but the ResponseData object reveal only one header. Look at the screenshot. I'm searching for the Token-AuthorizationUser-Expired header and it's missing. The data contains only one header instead of 9 in the chrome network tab.

Thanks for your help.

 - Flutter version: 2.5.3
 - IDE : VS Code
 - `http_interce

[2021-11-25 13:10] yan-064 commented on #100
My bad ^^.

The api has to expose the header with the Access-Control-Expose-Headers header.

https://github.com/dart-lang/http/issues/409

I close.

[2021-11-25 13:10] #100 closed

[2021-11-25 18:17] CodingAleCR commented on #100
I'm glad you were able to solve it! Cheers and thanks for using the library 🎉

Also, we have a beta version for 2.0.0 which refactors our internal API for a much more extensible one, feel free to try it out ;)

[2021-11-26 11:24] dexcell commented on #37
@CodingAleCR
`send` method still not available on 2.0.0 beta2
Could you please add to 2.0.0 beta3

I need to post form data with multipart  using`send`
perhaps something like this:
[code]

[2021-11-26 12:32] dexcell commented on #95
Hi, i'm trying the http interceptor for multi part seems still not working.
somehow request fields always empty when intercepting.
also retry policy is ignored.

[code]

[2021-11-26 13:38] dexcell commented on #95
I sent pr to fix the problem, tested in my project. working well now.

[2021-12-03 15:24] CodingAleCR commented on #95
Thank you! I will Review it during the weekend and if all looks good then create a new prerelease

[2021-12-15 10:03] jsanz1209 commented on #95
Hi @CodingAleCR, I need this functionality in my project, please, when will you accept this pull request?

Thanks in advance.

[2021-12-21 17:56] Seferi opened #102 "Migration guide link links to 404"
Hi, I'm trying to migrate our app to 1.0.0. Clicking to Migration guide link inks to page not found error 404. [](https://pub.dev/documentation/http_interceptor/latest/)

I appreciate if you can direct me to your migration guide. Thanks in advance.

[2021-12-21 19:19] CodingAleCR commented on #95
Hey, @jsanz1209, the PR should be accepted and a new version before the weekend. Sorry for the delay! Happy Holidays!

[2021-12-21 19:22] CodingAleCR commented on #102
Just checked and it worked fine for me, will look into it. In the meantime, here's [the migration guide for 1.0.0](https://github.com/CodingAleCR/http_interceptor/blob/main/guides/migration_guide_1.0.0.md)

[2021-12-21 19:22] #102 closed

[2022-01-17 04:20] #97 closed

[2022-01-20 21:31] javiermrz opened #107 "Adding the possibility to add a generic request timeout handler"
First of all, thanks for this great library, really great work!

**Is your feature request related to a problem? Please describe.**
I find it weird that there is a request timeout option, which will throw an error, but there is not an option to handle that error (to be able to, for example, show a toast with a generic error text if the timeout throws).

**Describe the solution you'd like**
The sol

[2022-01-21 00:28] CodingAleCR commented on #107
Hey, thank you for your proposal, it makes sense to add it and simple enough.🥳

I will try to get it soon, but contributions are always welcomed 🙌🏼

[2022-01-21 08:08] javiermrz commented on #107
I'll do a PR no problem!

[2022-01-21 18:11] javiermrz commented on #107
Here you go 🥳 https://github.com/CodingAleCR/http_interceptor/pull/108

[2022-01-25 14:15] jsanz1209 commented on #95
Hi @CodingAleCR,

Thanks for your support.

Is this hasn't been uploaded to pub.dev yet, right?

Greetings!

[2022-01-25 23:36] CodingAleCR commented on #95
Hey, I completely missed the `beta.3` version release, I'm really sorry. But it's fixed now in a new `2.0.0-beta.4` version. Feel free to try it out, any feedback is always appreciated.

[2022-01-27 11:31] fnicastri commented on #95
Using the beta.4 and trying to implement retry policy + jwt access token on a MultiPart request.
Now facing `Can't finalize a finalized MultipartRequest` 'cause after the first try the files are already finalized.
Any suggestion on how to fix this?

Thanks!

[2022-01-27 14:47] CodingAleCR commented on #95
That seems like an issue on the library itself, at least it has been on the past. I'll take a look and get back to you as soon as I can

[2022-01-28 10:40] fnicastri commented on #95
Thanks!

[2022-02-07 10:56] vixez commented on #97
@CodingAleCR I have added a way to cancel active requests (not a single request) to this PR https://github.com/CodingAleCR/http_interceptor/pull/96

[2022-03-09 06:52] CodingAleCR commented on #95
Hi just an update, the library does have issues on this front. It seems we need to copy all `MultipartFile`s. Otherwise the upload retry won't work because each `MultipartFile` is a stream and has already been closed when the `MultipartRequest` is closed (for example when the request fails)

[2022-03-11 07:49] CodingAleCR commented on #107
The PR has been accepted and this should be up on 2.0.0-beta.5

[2022-04-04 09:53] fnicastri commented on #95
yep, of course we should find a way to make it work on retried calls too.
For now I'm not using it with multipart, but I'm managing them externally.

thanks

[2022-04-04 16:35] fnicastri opened #112 "Exclude specific calls from being intercepted/retried -- HeaderSanitizerContract proposal"
**Is your feature request related to a problem? Please describe.**
Looking for a way to exclude interceptors and/or the retry policy I ended up using some custom headers (mainly necessary for the retry policy)
Es: **DO_NOT_REPLY** or **UNAUTHENTICATED**
But using them on a Flutter Web project ended up giving some CORS errors due to these custom headers.

**Describe the solution you'd like**
Added

[2022-05-12 12:16] zhukeev opened #113 "Unhandled Exception: FormatException: Unexpected extension byte (at offset 1)"
**Describe the bug**
A clear and concise description of what the bug is.
Can't send encoded body with `GZipCodec().encode(utf8.encode(
        json.encode(body),
      ))`
but http can
**To Reproduce**
Steps to reproduce the behavior:
1. Encode body with `GZipCodec().encode(utf8.encode( json.encode(body),))`
2. Make post request
4. See error

**Expected behavior**
A clear and concise description o

[2022-05-18 10:41] fnicastri commented on #112
nothing? @CodingAleCR

[2022-05-19 14:53] CodingAleCR commented on #112
Hey, thanks for opening an issue with the feature request, sorry it has taken a while. It's an interesting idea this feature and it might be easy to implement. I'll take a closer look as soon as I can

[2022-05-25 15:39] fnicastri commented on #112
I already have an implementation, you can see it in my fork at https://github.com/fnicastri/http_interceptor/tree/main

[2022-05-26 03:21] CodingAleCR commented on #112
Oh, that's great, I'll take a look and see your implementation, hopefully it matches what I was thinking on doing and accept a PR on it.

[2022-06-18 17:31] #95 closed

[2022-07-18 10:44] fnicastri commented on #112
any news?

[2022-08-01 18:22] fnicastri commented on #112
🤷‍♂️

[2022-08-03 05:09] CodingAleCR commented on #112
Hey, sorry for the delayed answer. I looked at your implementation and had my doubts about it, mostly because it could block all requests from being intercepted.

Instead, I would prefer to go on with the alternative of adding two methods to `InterceptorContract` called: `Future<bool> shouldInterceptRequest()` and `Future<bool> shouldInterceptResponse()`, both methods have a default implementation

[2022-08-03 05:57] CodingAleCR commented on #113
Hey @zhukeev this seems to be an exception coming straight from the SDK, not a problem from the library. In any case, digging a bit online I found [this SO thread](https://stackoverflow.com/questions/39735145/how-to-compress-a-string-using-gzip-or-similar-in-dart) that might help you solve your issues.

As a bonus, I've added a test for checking GZip compression in #114 . This test takes the appro

[2022-08-03 05:57] #113 closed

[2022-08-03 05:58] #107 closed

[2022-08-08 07:53] ntimesc opened #115 "Retry Policy with delay"
Not sure, how to configure or implement Retry Policy with a delay. Currently, I am using RetryPolicy for refresh token but would like to extend its usage by handling the no internet connectivity retry and for that i am trying to capture the exception in this function `shouldAttemptRetryOnException`  and returning `true`. However, this function immediately tries 3 attempts back to back without any

[2022-08-08 16:26] CodingAleCR commented on #115
Hi, I think there's no way to asynchronously wait a few seconds before retrying at the moment.

This makes me think I should make `shouldAttemptRetryOnException` into a `Future<bool>` so that it supports this kind of behaviors and then you could maybe use `Future.delayed` in these cases (that might make the request stay "loading" until it is either resolved or rejected, which is something to look

[2022-08-10 05:38] ntimesc commented on #115
So when can we have this feature available :)

[2022-08-10 17:19] CodingAleCR commented on #115
It should be available in beta.6, which is already in the automation pipeline as I'm writing this.

[2022-08-10 17:19] CodingAleCR commented on #112
This should be available in version `2.0.0-beta.6` which is just released 🎉

[2022-08-10 17:19] #112 closed

[2022-08-10 17:23] CodingAleCR commented on #115
It's now out 🎉  I'm closing this but feel free to comment if it does not work as you expected 😉

[2022-08-10 17:23] #115 closed

[2022-08-10 18:34] CodingAleCR commented on #115
@all-contributors add @ntimesc for ideas

[2022-08-28 05:20] santosh81066 opened #117 "headers are not getting updated upon retry"
when I am trying to retry a request headers are not getting updated following is my interceptor

[code]

[2022-08-28 05:25] CodingAleCR commented on #117
If you are using prereleases of `v2.0.0+beta.1` or above, then the API has changed a bit. Check out the guides for 2.0.0  if you want to know how much has changed.

In any case, here's an example of how to set headers with the new API:

[code]

[2022-08-28 05:28] CodingAleCR commented on #117
Also, thank you for opening an issue, I appreciate you reaching out! 😄

[2022-08-28 07:11] santosh81066 commented on #117
hello sir thx for quick reply as you sujested I had changed my interceptor but the result is same
<img width="1440" alt="Screenshot 2022-08-28 at 12 36 57" src="https://user-images.githubusercontent.com/34810098/187062041-033513fb-f245-4133-834b-41c06d45d273.png">
you can see in the image that the access token which I am printing and accesstoken which I am refreshing using refresh token is same bu

[2022-08-29 05:35] CodingAleCR commented on #117
Taking a closer look to your retry policy (the one sent via email) I've noticed one thing: you are not returning `true` when you are refreshing your token.

[code]

This is needed because otherwise the `RetryPolicy` will not take effect and thus the requests will still use the 'old' token. Here's the example `ExpiredTokenRetryPolicy` from the `WeatherApp` provided with the library:

[code]

[2022-08-29 07:06] santosh81066 commented on #117
hello sir as you said I had kept return true  but I am facing exception if I get 401 response
<img width="1440" alt="Screenshot 2022-08-29 at 12 27 34" src="https://user-images.githubusercontent.com/34810098/187143261-2510ff20-a057-4069-aa7f-a8cbedd4dd7d.png">

[2022-08-29 07:38] CodingAleCR commented on #117
This seems like a bug in the beta version. I think it was mentioned in an issue before. Will take a look and get back to you 👀

[2022-08-29 07:39] CodingAleCR commented on #117
By any chance are you using a `MultipartRequest` to upload a file (e.g. upload profile picture to a server)?

[2022-08-29 07:54] santosh81066 commented on #117
yeah

[2022-08-29 07:58] santosh81066 commented on #117
thank you waiting for update

[2022-08-29 07:59] santosh81066 commented on #117
thank you waiting for update

[2022-08-30 11:30] santosh81066 commented on #117
hello sir may I know approximate next release date

[2022-09-02 15:30] CodingAleCR commented on #117
Hey, yes, hum in terms of ETA I can't give you one, but I can confirm at the moment that it is a bug. I'm working to fix this but it might need a big refactor.

[2022-09-02 16:51] santosh81066 commented on #117
ok thank you

[2022-09-27 20:37] justincbeck commented on #95
I wish I could still set the retry policy independent of the constructor.

[2022-10-03 21:03] CodingAleCR commented on #95
Like having a global retry policy?

[2022-11-22 19:42] macik1423 opened #118 "How to test http client with interceptor? TimeoutException after ... Future not completed"
**Describe the bug**
I wonder how to test http client with intercepor. I get every time `TimeoutException after 0:00:15.000000: Future not completed` or `Przekroczono limit czasu semafora.` if I remove timeout in client.get(...). Below there are my classes, I hope you can easly reproduce issue.

**To Reproduce**
Steps to reproduce the behavior:
`lib\`
`authentication_repository.dart`
[code]
`mater

[2022-11-22 22:04] #117 closed

[2022-11-23 18:50] CodingAleCR commented on #118
Hi, have you tried sending a `http.Client` instance to your interceptor builder? You can use that to mock the internal client and thus have your requests do whatever you want. The library is designed to wrap a `Client` and provide proper support of interceptors.

[code]

Let me know if that helps. Cheers from CR 🇨🇷

[2022-11-24 07:13] macik1423 commented on #118
Hi, thanks for your reply! Thanks to your hint I have created something like this:
`warehouse_api_client.dart`
[code]
`my_test.dart`
[code]
previously errors with timeout is disapear, but now I have a `type 'Null' is not a subtype of type 'Future<StreamedResponse>'` error.

[2022-11-24 16:28] marcodecarolisidt opened #119 "HandshakeException"
**Describe the bug**
We keep having random exceptions:
[code]
And it is impossible to know how to fix it

**Please complete the following information):**
 - Flutter version: 3.3.6
 - IDE [VS Code]
 - `http_interceptor` Version [1.0.2]

[2022-11-28 15:04] CodingAleCR commented on #119
Taking a look 👀 , could you provide a repository that reproduces this issue?

[2022-11-28 15:06] CodingAleCR commented on #118
I will take a closer look with `mocktail`. Will get back to you as soon as I can 😄

[2022-11-29 07:57] marcodecarolisidt commented on #119
Sorry, it's a company repo :) I cannot.
So we fire some asynchronous API requests when the app starts. And sometimes, some of them fail randomly, and the fetch doesn’t work. I tried to override `shouldAttemptRetryOnException` to return true, but it doesn't solve the issue

[2022-11-30 15:00] marcodecarolisidt commented on #119
Will a package upgrade to the beta version fix the issue? if yes when will the beta version become stable? thank you 🙏